.home {
        background-color: grey;
    h5 {
        background-color: white;
        color: black;
        width: fit-content;
        margin: 0 auto;
        border-radius: 10px;
        padding-left: 3px;
        padding-right: 3px;
        margin-bottom: 3px;
        }
    p {
        background-color: white;
        color: black;
        width: fit-content;
        margin: 0 auto;
        border-radius: 10px;
        padding-left: 3px;
        padding-right: 3px;
    }
    .card-text {
        font-size: 10px;
    }
    .sizesmall {
        height: fit-content;
    }
    @media (max-width: 230px) {
        .hide2 {
            display: none;
        }
        .card-text {
            font-size: 10px;
        }
    }
    @media (max-width: 360px) {
        .hide2 {
            display: none;
        }
        .carousel-item img{
            height: 200px;
        }
        .card img {
            height: 200px;
        }
    }
    @media (max-width: 500px) {
        .hide2 {
            display: none;
        }
        .card {
            width: 300px;
        }
    }
    // smaller media than 576px
    
    @media (max-width: 575.98px) {
        .sizesmall {
            height: fit-content;
        }
    }
    
    @media (max-width: 767.98px) {
        .hide {
            display: none;
        }
    }

    @media (min-width: 990px) {
        .card{
            width: 30%;
        }
    }
    
    .yellow {
        background-color: rgb(250, 210, 49);
    }
    
    .logo {
        background-color: whitesmoke;
        border-radius: 48%;
        width: fit-content;
        padding: 10px;
    }
    
    img {
        height: 300px;
    }

    .card img {
        height: 200px;
    }
    
    .flexbox {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .foot {
        background-color: white;
        height: fit-content;
        margin-bottom: -20px;
    }
    h1{
        color: Black;
    }
    .card {
        height: 430px;
        margin-bottom: 5px;
    }
}