.footer{
    background-color: rgb(250, 210, 49);
    padding-bottom: 1px;
    h3, h5{
        color: black;

    }
    .form-control {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 3px;
    }
}