// this is the scss for the navbar

.navbar {
    height: 30px;
    width: 100%;
    background-color: white;
    color: black;
  
    .link {
      color: black;
    }

    // less than 576px
    
  
  }

  @media (max-width: 575.98px) {
      .navbar {
        height: fit-content;
      }
    }